---
import { Image } from 'astro:assets';
interface Props {
  content: any;
  imgSrc: ImageMetadata;
  imgAlt: string;
}

const { content, imgSrc, imgAlt } = Astro.props;
---

<article class='p-6 md:w-full md:prose body'>
  <a href='/' class="text-sm" title='Back to research'>&larr; Back to Research</a>

  <ul class='flex gap-4 tags'>
    {
      content.tags.map((tag) => {
        return (
          <li class="">
            <a class="text-sm text-green-500" href={`/blog/tags/${tag.toLowerCase()}/`}>
              {tag}
            </a>
          </li>
        );
      })
    }
  </ul>
  <h2>{content.title}</h2>

  <p class="description">{content.description}</p>
  
  <p class='text-slate text-sm md:text-base'>
    By <a href={`https://twitter.com/${content.authorTwitterHandle}`} target="_blank">
  {content.author} 
  </a>
  - {content.pubDate}
  </p>
  <div id="article">

  <slot />
  </div>
</article>

<style is:global>
  .body {
    margin-block-end: 8rem;
    max-width: 88ch !important;
    font-size: clamp(1rem, 0.913rem + 0.4348vi, 1.25rem) !important;

    .hr {
      margin-block: 2rem;
      border-bottom: 1px solid rgb(206, 206, 206);
    }
  }
  p {
    font-size: 1.2rem;
  }

  .context-heading {
    border-top: 1px solid rgb(188, 187, 187);
    border-bottom: 1px solid rgb(188, 187, 187);
    padding-bottom: 1.2rem;
  }

  #article {
    margin-block-end: 8rem;
  }

  .tags {
      margin-block-start: 1rem;
      padding: 0;
    li {
      list-style-type: none;
    }
    a {
      text-decoration: none;
      display: flex;
      align-items: center;
      column-gap: 0.2rem;
      font-size: 1rem;
      font-weight: 700;
      background-color: var(--semantic-green-light-hover);
      color: var(--leather-dark-hover);
      min-width: fit-content;
      padding-inline: 0.4rem;
      padding-block: 0.2rem;
      border-radius: 0.5rem;

      &:hover {
        background-color: var(--semantic-green-dark-active);
  }
  }

  article {

  }
  .description {
    font-size: 1.4rem;
    font-family: "avenir-medium";
    color: rgb(94, 93, 93);
  }

  h2 {
    font-size: clamp(1.75rem, 1.4022rem + 1.7391vi, 2.75rem);
  }
</style>
