---
import { Image } from 'astro:assets';
interface Props {
  content: any;
  imgSrc: ImageMetadata;
  imgAlt: string;
}

const { content, imgSrc, imgAlt } = Astro.props;
---

<article class='p-6 md:w-full md:prose body'>
  <a href='/' title='Back to research'>&larr; Back to Research</a>

  <h2>{content.title}</h2>

  <p class="description">{content.description}</p>
  
  <p class='text-slate text-sm md:text-base'>
    Written by <a href={`https://twitter.com/${content.authorTwitterHandle}`} target="_blank">
  {content.author} 
  </a>
  - {content.pubDate}
  </p>
  <slot />
</article>

<style>
  p {
    font-size: 1.2rem;
  }

  .description {
    font-size: 1.4rem;
    font-family: "avenir-medium";
    color: rgb(94, 93, 93);
  }

  h2 {
    font-size: clamp(1.75rem, 1.4022rem + 1.7391vi, 2.75rem);
  }
  .body {
    margin-block: 8rem;
    max-width: 88ch;
    font-size: clamp(1rem, 0.913rem + 0.4348vi, 1.25rem) !important;
  }
</style>
